html, body {
  height: 100%;
  overflow: hidden; /* stops scrolling */
}

.heading-one{
  font-style: italic;
  font-size: 40px;
}

.recipe-count{
  font-style: oblique;
  font-size: 20px;
}

body {
  background: #2ac4c4;
}

.search-input {
  width: 250px;
  padding: 8px 12px;
  font-size: 15px;

  border: 1px solid #000000;
  border-radius: 6px;

  outline: none;
  transition: 0.2s ease;
  margin-bottom: 15px;
}

.recipes-wrapper {
  width: 85%;
  margin: 0 auto;
  background: #40b6c3;
  border: 1px solid #d3d1d1;
  padding: 24px;
  border-radius: 14px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  max-height: 70vh;   
  overflow-y: auto;   
}

.recipes-container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 24px;
  padding: 20px;
}

.filters-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 20px 0;
  flex-wrap: wrap;
}

.filters-container input,
.filters-container select {
  padding: 10px 14px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  transition: all 0.2s ease-in-out;
  background-color: white;
}

.filters-container input {
  width: 220px;
}

.filters-container select {
  cursor: pointer;
}

/* Focus Effect */
.filters-container input:focus,
.filters-container select:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 5px rgba(59, 130, 246, 0.4);
}

/* Hover Effect */
.filters-container select:hover,
.filters-container input:hover {
  border-color: #3b82f6;
}

